__pycache__/*
data/datasets.pkl
data/predictedFieldsData.pkl
data/pretreatedData.pkl
data/trainingWorkflowData.pkl
data/predictedScalarsData.pkl*
predictFieldsPlots/*
predictHorsParamPlots/*
predictScalarsPlots/*
